@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+KR:wght@200..900&display=swap');

html {
  /* 기본 폰트사이즈 10px */
  font-size: 62.5%;
  word-break: keep-all;
  overflow: hidden;
  background-color: #000;

  position: fixed;
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Montserrat', 'Pretendard', sans-serif;
  font-weight: 400;
  margin: 0 auto;

  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* 모달 열릴 때 fixed 해제 */
body.is-modal-open {
  position: static;
  overflow: visible;
}

* {
  color: #fff;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); /* 구형 브라우저를 위해 사용 */
  clip-path: polygon(0 0, 0 0, 0 0); /* inset(50%) 와 동일한 표현 */
  border: 0;
}
