@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+KR:wght@200..900&display=swap');

html {
  /* 기본 폰트사이즈 10px */
  font-size: 62.5%;
  word-break: keep-all;
  background-color: #000;
}

/* Chrome, Safari */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* IE, Edge */
body {
  -ms-overflow-style: none;
}

body {
  font-family: 'Montserrat', 'Pretendard', sans-serif;
  font-weight: 400;
  margin: 0 auto;
}

* {
  color: #fff;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); /* 구형 브라우저를 위해 사용 */
  clip-path: polygon(0 0, 0 0, 0 0); /* inset(50%) 와 동일한 표현 */
  border: 0;
}
